# ===========================
# Application Configuration
# ===========================
ENVIRONMENT=local                # The environment: local, development, staging, production
PROJECT_NAME="Airqualitycheck API" # Name of the project

# ===========================
# PostgreSQL Database Configuration
# ===========================
POSTGRES_SERVER=localhost        # Database host (localhost or a database server URL)
POSTGRES_PORT=5432               # Database port (default port is 5432)
POSTGRES_DB=airqualitycheck      # Name of the database to connect to
POSTGRES_USER=postgres           # Database username
POSTGRES_PASSWORD=your_password_here  # Database password (use a secure password, do not commit real passwords)